.div-tabela-colunaP {
  overflow-x: hidden !important;
  overflow-y: scroll;
  height: auto !important;
  max-height: 85vh !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 3 80px !important;
  margin: 0 5px !important;
  background-color: #ebecf0 !important;
}

.clspersonal210 {
  background-color: #fff !important;
}
.clspersonal150 {
  background-color: #fff !important;
}
.clspersonal67 {
  background-color: #fff !important;
}
.clspersonal396 {
  background-color: #fff !important;
}
.clspersonal85 {
  background-color: #fff !important;
}
.clspersonal543 {
  background-color: #fff !important;
}
.clspersonal182 {
  background-color: #fff !important;
}
.clspersonal52 {
  background-color: #fff !important;
}

#div-tabela-geralP {
  background-color: #cecece;
}

body {
  background-color: #cecece;
}

.div-cor-AzulEscuro {
  background-color: #ebecf0 !important;
}

.div-cor-AzulClaro {
  background-color: #ebecf0 !important;
}

.div-cor-AzulBemClaro {
  background-color: #ebecf0 !important;
}

.divs-sols {
  border: none !important;
  margin: 10px 0;
  border-radius: 8px !important;
}

.form_tabela {
  margin: 10px 5px;
  border: none !important;
}
