.div-tabela-colunaP {
  overflow-x: hidden !important;
  overflow-y: scroll;
  height: auto !important;
  max-height: 85vh !important;
  border: none !important;
  border-radius: 4px !important;
  width: 350px !important;
  margin: 0 5px !important;
  background-color: #525252 !important;
}

.div-tabela-coluna {
  overflow-x: hidden !important;
  overflow-y: scroll;
  height: auto !important;
  max-height: 85vh !important;
  border: none !important;
  border-radius: 4px !important;
  width: 350px !important;
  margin: 0 5px !important;
  background-color: #525252 !important;
}

#div-tabela-geralP {
  background-color: transparent;
}

body {
  background-image: #666;
   background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.div-cor-AzulEscuro {
  background-color: #e4e4e4 !important;
}

.div-cor-AzulClaro {
  background-color: #e4e4e4 !important;
}

.div-cor-AzulBemClaro {
  background-color: #e4e4e4 !important;
}

.divs-sols {
  border: none !important;
  margin: 0 6px !important;
  background-color: #fff !important;
  border-radius: 8px !important;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.form_tabela {
  margin: 10px 5px;
  border: none !important;
}

#div-tabela-geral {
  border: none !important;
}
#div-tabela-geralP {
  border: none !important;
}

.div-coluna-nomeP {
  background-color: #fff !important;
  border-radius: 4px !important;
  border: none !important;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

div#overlay_modal {
  min-width: 3040px;
  z-index: 5;
}
